
body{
    height: 25%;
    width: 100%;
    background-color: azure;
    cursor: auto;
   
}
.text-center{
    text-align: center;
    text-decoration: dotted;
}
.button{
    width: 60px;
    padding: 20px;
    margin: 0 3px;
    border:2px solid black;
    color: white;
    text-shadow: 10px;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(32, 21, 7);
}
.items-center{
    align-items: center;
}

.row{
    margin:8px 0;
    
}

.row input {
        font-size: 21px;
        margin: 10px;
        padding: 10px 10px;
        border: 2px solid black;
        border-radius: 15px;
        background-color: rgb(208, 195, 178);
        
        }
    
    